<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/styles.css">
    <title>{{.Title}}</title>
</head>
<body>
    <header>
<h1>GoAmber</h1>
    </header>
<nav>
<img src="/static/images/icon.jpg" alt="Logo" class="icon">
<h2>Loren Ipsum</h2>
<p>Web Developer</p>
<div class="nav-container">
           <ul class="nav-items">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
			</ul>
</div>
        </nav>
    <main>
<div class="content">
        {{.Content}}
		{{.List}}
</div>
    </main>
    <footer>
        <!-- Your footer content -->
        <p>&copy; 2025 My Website</p>
    </footer>
</body>
</html>
